@import "../generated/index"

.ct-notification-info-primary
  border-radius: 0.5rem
  border: color-ui-border-information
  background: color-ui-surface-primary-secondary

.ct-notification-info-secondary
  border-radius: 0.5rem
  background: color-ui-surface-alert-information

.ct-notification-info-tertiary
  border-radius:
